@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Peace Of Mind</h1>
    <p class="lead">Peace Of Mind is a free application for pet sitting! It was built with the help of a professional pet sitter, and its goal is to provide a simple and easy way to keep track of basic day to day business activities.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
</div>

<div>
    <h2>Ethos</h2>
    <p>My mom runs a pet sitting business, and it is her livelihood. Thus, I know that to someone who loves animals, pet sitting is a very rewarding job. But I also know that running your own pet sitting business can be very demanding. You have to keep track of existing client information. You have to meet with new clients and organize their information, as well as keep a detailed daily schedule. You have to think about your daily travel routes. And sometimes you have to make the hard decision of when to refuse work, based on optimizing profits. It is a business after all. My goal is to make this whole process a little easier by providing a free, centralized space for organizing all the details of your pet sitting business.</p>
</div>

<div>
    <h2>Pet Sitters who use Peace Of Mind</h2>
</div>

<div>
    <h2>Contact</h2>
    <p>Please contace me with ideas for adding new features or editing existing ones. My email is jonphilk@gmail.com.</p>
</div>



@*<head>

<script type="text/javascript">

    $.ajax({
        type: 'GET',
        contentType: 'application/json',
        url: '/Home/GetEvents',
        dataType: 'JSON',
        success: function (data) {
            $.each(data, function (i, data) {
                calendar.addEvent(
                    {
                        title: data.title,
                        start: data.start
                    });
            });
        }
    })

    calendar.addEvent(
        {
            title: "test",
            start: "2020-10-10"
        });

</script>
</head>*@

@*<div id="calendar"></div>*@



