@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peace Of Mind</h1>
</div>

@Html.ActionLink("Clients", "Index", "Client", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Services", "Index", "Service", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Pets", "Index", "Pet", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Jobs", "Index", "Job", null, new { @class = "btn btn-primary btn-large" })
