@{
    ViewBag.Title = "Home Page";

}
@*<head>

<script type="text/javascript">

    $.ajax({
        type: 'GET',
        contentType: 'application/json',
        url: '/Home/GetEvents',
        dataType: 'JSON',
        success: function (data) {
            $.each(data, function (i, data) {
                calendar.addEvent(
                    {
                        title: data.title,
                        start: data.start
                    });
            });
        }
    })

    calendar.addEvent(
        {
            title: "test",
            start: "2020-10-10"
        });

</script>
</head>*@

<div class="jumbotron">
    <h1>Peace Of Mind</h1>
</div>

<div id="calendar"></div>



