@model IEnumerable<PeaceOfMind.Models.Service.ServiceListItem>

@{
    ViewBag.Title = "Index";
}

<div class="row jobContainer">
    <div class="col-md-2 sidebar">
        <ul class="nav">
            <li>@Html.ActionLink("New Service", "Create")</li>
        </ul>
    </div>
    <div class="col-md-10 text-center" style="padding-left: 5em">
        <h2>All Services</h2>

        <hr />

        <div class="row">
            <div class="col-xs-3">
                <p>Name</p>
            </div>
        </div>

        <hr />

        @foreach (var item in Model)
        {
            <div class="row my-table-row">
                <div class="col-xs-3">
                    <p>@item.Name</p>
                </div>
                @Html.ActionLink(" ", "Details", new { id = item.ServiceId })
            </div>
        }

    </div>
</div>