body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: #cfe3d4;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidebar {
    margin: 0;
    padding: 10px 0 0 0;
    background-color: #D4E6F1;
    min-height: 100%;
    position: absolute;
}

.sidebar a{
    display: block;
    padding: 16px 0 0 0;
    text-decoration: none;
    color: black;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.jobContainer {
    display: flex;
    align-items: stretch;
}

.todaysschedule {
    padding: 20px;
}

.test {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 50px 0 20px;
}

.test span {
    background: #fff;
    padding: 0 10px;
}

.my-table {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.my-table > li {
    display: inline-block;
    padding-right: 60px;
    padding-left: 60px;
    width: auto;
}

.my-table-row {
    position: relative;
}

.my-table-row > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .my-table-row > a:hover {
        border: 3px solid #D4E6F1;
    }

